<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div class="back-home">
            <form action="/" method="get">
                <button type="submit" class="btn">Main</button>
            </form>
        </div>
        {% from "messages.html" import display_message %}
        {{ display_message(get_flashed_messages(with_categories=True)) }}

        {% if session.username %}
        <p class="welcome-msg">logged in as <strong>{{ session.username }}</strong></p>
        <a href="/logout" class="btn">Log out</a>
        {% else %}
        <form action="/login" method="POST" class="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="username">username:</label>
                <input type="text" name="username" id="username" required aria-label="Username">
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="password" name="password" id="password" required aria-label="Password">
            </div>
            <button type="submit" class="btn">login</button>
        </form>
        
        <a href="/registerview" class="register_btn">register</a>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(message) {
                console.log("Hiding flash messages after 5 seconds");
                setTimeout(function() {
                    message.style.display = 'none';
                }, 2000);
            });
        });
    </script>
</body>
</html>
