<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to style.css -->
</head>
<body>
    <main class="container">
        <header>
            <h1>User Profile</h1>
        </header>

        {% from "messages.html" import display_message %}
        {{ display_message(get_flashed_messages(with_categories=True)) }}

        <div class="back-home">
            <form action="/" method="get">
                <button type="submit" class="btn">Main</button>
            </form>
        </div>
        
        {% if session.username %}
        <section class="profile">
            <h2>{{ session.username }}</h2>
            <p><strong>Email:</strong> {{ userprofile.email }}</p>
            <p><strong>Phone:</strong> {{ userprofile.phone }}</p>

            <div class="button-group">
                <button id="show-edit_profile" class="btn">Edit Profile</button>
                <button id="show-rented" class="btn active">Rented</button>
                <button id="show-listed" class="btn">Listed</button>
            </div>

            <section id="edit-profile" class="profile-edit" style="display: none;">
                <h3>Edit Profile</h3>
                <form action="/edit_profile" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="{{ userprofile.email }}" required>
                    </div>
                    <div>
                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" name="phone" value="{{ userprofile.phone }}" required>
                    </div>
                    <div>
                        <label for="password">New Password:</label>
                        <input type="password" id="password1" name="password" placeholder="Enter new password">
                    </div>
                    <div>
                        <label for="password">Repeat Password:</label>
                        <input type="password" id="password2" name="password2" placeholder="Enter new password">
                    </div>
                    <button type="submit" class="btn">Confirm Changes</button>
                </form>
                <div class="del_user">
                    <form action="/delete_user" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="delete_btn">Delete user {{ session.username }} and all related data
                            <span class="tooltip-text">Are you sure? This will delete listings, bookings and comments. Cant be undone!</span>
                        </button>
                    </form>
                </div>
                
            </section>

            <section id="rented-properties" class="property-list">
                <h3>Your Rented Properties</h3>
                {% if rented_properties %}
                    {% for property in rented_properties %}
                        <article class="property">
                            <img src="{{ url_for('static', filename='images/' ~ property.image_url) }}" alt="{{ property.title }}">
                            <div class="property-info">
                                <h4>{{ property.title }}</h4>
                                <p>{{ property.description }}</p>
                                <p><strong>Price:</strong> ${{ property.price }}</p>
                                <p><strong>Booking Dates:</strong> {{ property.start_date }} to {{ property.end_date }}</p>
                            </div>
                            <form action="/delete_booking/{{ property.booking_id }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-danger">Delete Booking</button>
                            </form>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>You haven't rented any properties yet.</p>
                {% endif %}
            </section>

            <section id="listed-properties" class="property-list" style="display: none;">
                <h3>Your Listed Properties</h3>
                {% if listed_properties %}
                    {% for property in listed_properties %}
                        <article class="property">
                            <img src="{{ url_for('static', filename='images/' ~ property.image_url) }}" alt="{{ property.title }}">
                            <div class="property-info">
                                <h4>{{ property.title }}</h4>
                                <p><strong>Price:</strong> ${{ property.price }}</p>
                                <p>{{ property.description }}</p>
                            </div>
                            <form action="/delete_property/{{ property.id }}" method="POST" onsubmit="return confirmDelete();">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-danger">Delete Property</button>
                            </form>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>You haven't listed any properties yet.</p>
                {% endif %}
            </section>
        </section>

        {% else %}
        <section class="not-logged-in">
            <p>You are not logged in. Please <a href="/loginview">log in</a> to view your profile.</p>
        </section>
        {% endif %}
        
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rentedPropertiesSection = document.getElementById('rented-properties');
            const listedPropertiesSection = document.getElementById('listed-properties');
            const editProfileSection = document.getElementById('edit-profile');
            const showRentedButton = document.getElementById('show-rented');
            const showListedButton = document.getElementById('show-listed');
            const showEditProfileButton = document.getElementById('show-edit_profile');

            rentedPropertiesSection.style.display = 'block';
            listedPropertiesSection.style.display = 'none';
            editProfileSection.style.display = 'none';

            showEditProfileButton.addEventListener('click', function() {
                rentedPropertiesSection.style.display = 'none';
                listedPropertiesSection.style.display = 'none';
                editProfileSection.style.display = 'block';
                showEditProfileButton.classList.add('active');
                showRentedButton.classList.remove('active');
                showListedButton.classList.remove('active');
            });

            showRentedButton.addEventListener('click', function() {
                rentedPropertiesSection.style.display = 'block';
                listedPropertiesSection.style.display = 'none';
                editProfileSection.style.display = 'none';
                showRentedButton.classList.add('active');
                showListedButton.classList.remove('active');
                showEditProfileButton.classList.remove('active');
            });

            showListedButton.addEventListener('click', function() {
                rentedPropertiesSection.style.display = 'none';
                listedPropertiesSection.style.display = 'block';
                editProfileSection.style.display = 'none';
                showListedButton.classList.add('active');
                showRentedButton.classList.remove('active');
                showEditProfileButton.classList.remove('active');
            });
        });
    </script>
    
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this property? This action cannot be undone.");
        }
    </script>
</body>
</html>